* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body { height: 100%; }
body {
  background: #089AFD;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.App {
  text-align: center;
  background: white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
header {
  display: flex;
  flex-direction: row;
}
#logo {
  width: 40px;
  height: 40px;
}
h1 {
}
.photo {
  height: 300px;
}