@font-face {
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 400;
  src: local('Lexend Deca Regular'), local('LexendDeca-Regular'), url(https://fonts.gstatic.com/s/lexenddeca/v1/K2F1fZFYk-dHSE0UPPuwQ5qnJy_YZ2ON.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body { height: 100%; }
body {
  font-family: 'Lexend Deca', sans-serif;
  border-top: solid 9px #089AFD;
}
.App {
  text-align: center;
  background: white;
  border-radius: 30px;
  padding: 20px;
}
a {
  color: inherit;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
#logo {
  display: flex;
  flex-direction: row;
}
#logo img {
  width: 40px;
  height: 40px;
}
#scoring {
  text-align: right;
}
h1 {
}
main {
  min-height: 6in;
  display: flex;
  flex-direction: column;
}
.photo {
  max-height: 500px;
  max-width: 70vw;
}
input[type='range'] {
  vertical-align: middle;
  margin-right: 8px;
  width: 80%;
}
button {
  border: none;
  background: #089AFD;
  color: white;
  border-radius: 18px;
  padding: 6px 8px;
  font: inherit;
  cursor: pointer;
}
footer {
  color: #999;
  font-size: 10px;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  display: none;
  opacity: 0;
  justify-content: center;
  align-items: center;
  flex-direction: vertical;
}
.popup .content {
  max-width: 4in;
  max-height: 90%;
  overflow: scroll;
  margin: 10px;
  padding: 15px 20px 20px;
  background: white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
}
.popup .close-button {
  float: right;
  height: 20px;
  cursor: pointer;
}
.popup p {
  margin: 10px 0;
}
.popup button {
  margin-top: 5px;
}
.popup.shown {
  display: flex;
  opacity: 1;
}

.guesses {
  position: absolute;
  top: 20px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.guess {
  width: 100vw;
}

@media (min-width: 800px) {
  .App {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  input[type='range'] {
    width: 400px;
  }
  .guess {
    width: 5in;
  }
}